.passSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  
}

.pass {
  border-radius: 12px;
  transition: background-color 0.3s ease;

  /* Header of each pass */
  .passHeader {
    padding: 19px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    &__title {
      font-family: var(--second-family);
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: var(--white-color);
    }
  }

  /* Content inside the pass (always gray) */
  .passContent {
    background-color: var(--gray-color); /* Gray content area */
    padding: 10px;
    border-radius: 0 0 12px 12px;
  }

  /* Description of the pass */
  .description {
    color: #333;
    padding: 40px 112px;

    &__title {
      font-family: var(--second-family);
      font-weight: 800;
      font-size: 40px;
      line-height: 120%;
      letter-spacing: -0.01em;
      color: var(--black);
    }
    &__desc {
      max-width: 630px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: var(--black);
      &__mb40 {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: var(--black);
        margin-bottom: 40px;
        max-width: 630px;
      }
    }
    &__block2 {
      padding: 16px 0 20px 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      gap: 8px;
      &__long {
        width: 212px;
        height: 48px;
        padding-top: 11px;
        border-radius: 8px;
        border: 2px solid var(--gray-dark-color);
        text-align: center;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
      }
      &__short {
        width: 140px;
        height: 48px;
        padding-top: 11px;
        border-radius: 8px;
        border: 2px solid var(--gray-dark-color);
        text-align: center;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        
      }
    }
  }

  /* Arrow container */
  .arrow {
    width: 20px;
    height: 20px;
  }
}
